/* .App {
  text-align: center;
}

i {
  margin-top:5px;

}
.fa-book-reader:before{
  float: left;
  color: #61dafb;
} */
img {
  float: left;
  margin: 2% 1% 0% 2%;

  border-image: 1px;
}
p {
  margin: 0% 2% 1% 2%;
}

.center {
  width: 100%;
  text-align:center;
  
}
#search {
 margin-top: 1em;
}
.right {
  float: right;
}

.App-header {
  background: rgba(0, 0, 0, 0.733);
  min-height: 10vh;
  display: flex;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.header-title {
  font: #fff;
}
.card-container {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: auto;
  margin-top: 10px;
  position: relative;
  width: 400px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  overflow: hidden;
  text-align:center;
}
.wrapper {
  padding-top: 10px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
